### 5.5 계층적 색인

계층적 색인(Hierarchical indexing)은 고차원 데이터를 낮은 차원의 형식으로 다룰 수 있게 합니다.

In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [3]:
data = Series(np.random.randn(10), index=[['a', 'a', 'a', 'b', 'b', 'b', 'c', 'c', 'd', 'd'],
             [1, 2, 3, 1, 2, 3, 1, 2, 2, 3]])
data

a  1   -0.717176
   2    0.217100
   3   -0.155494
b  1   -0.843595
   2   -0.301152
   3   -0.821493
c  1    0.717648
   2   -0.551468
d  2   -0.612935
   3    0.083538
dtype: float64

In [4]:
data.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 2),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

In [5]:
data['b']

1   -0.843595
2   -0.301152
3   -0.821493
dtype: float64

In [6]:
data['b':'c']

b  1   -0.843595
   2   -0.301152
   3   -0.821493
c  1    0.717648
   2   -0.551468
dtype: float64

In [7]:
data.loc[['b', 'd']]

b  1   -0.843595
   2   -0.301152
   3   -0.821493
d  2   -0.612935
   3    0.083538
dtype: float64

In [8]:
data[:, 2]

a    0.217100
b   -0.301152
c   -0.551468
d   -0.612935
dtype: float64

In [9]:
data.unstack()

          1         2         3
a -0.717176  0.217100 -0.155494
b -0.843595 -0.301152 -0.821493
c  0.717648 -0.551468       NaN
d       NaN -0.612935  0.083538

In [10]:
data.unstack().stack()

a  1   -0.717176
   2    0.217100
   3   -0.155494
b  1   -0.843595
   2   -0.301152
   3   -0.821493
c  1    0.717648
   2   -0.551468
d  2   -0.612935
   3    0.083538
dtype: float64

In [11]:
frame = DataFrame(np.arange(12).reshape((4, 3)),
                 index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]],
                 columns=[['Ohio', 'Ohio', 'Colorado'],
                         ['Green', 'Red', 'Green']])
frame

     Ohio     Colorado
    Green Red    Green
a 1     0   1        2
  2     3   4        5
b 1     6   7        8
  2     9  10       11

In [20]:
frame.index.names = ['key1', 'key2']
frame.columns.name = ['state', 'color']
frame

           Ohio     Colorado
          Green Red    Green
key1 key2
a    1        0   1        2
     2        3   4        5
b    1        6   7        8
     2        9  10       11

In [29]:
frame['Ohio']

           Green  Red
key1 key2
a    1         0    1
     2         3    4
b    1         6    7
     2         9   10

In [41]:
frame.index

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           names=['key1', 'key2'])

In [49]:
pd.MultiIndex.from_arrays([['Ohio', 'Ohio', 'Colorado'], ['Green', 'Red', 'Green']],
                     names=['state', 'color'])

MultiIndex([(    'Ohio', 'Green'),
            (    'Ohio',   'Red'),
            ('Colorado', 'Green')],
           names=['state', 'color'])